# DB
POSTGRES_DB=tasker
POSTGRES_DB_PORT=5432
POSTGRES_USER=tasker_owner
POSTGRES_PASSWORD=npg_IK64axZpjiuF
POSTGRES_HOST=ep-autumn-voice-abvvo0sz-pooler.eu-west-2.aws.neon.tech
# Django
SECRET_KEY="hMsKdiY4hvkZfCMb1taNPcfaa8Kn0rKt"
DJANGO_SETTINGS_MODULE=it_task_manager.settings
