# DB
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_lje4TuOvDkx7
POSTGRES_HOST=ep-proud-cell-a2tn6rhw-pooler.eu-central-1.aws.neon.tech
# Django
SECRET_KEY=django-insecure-n(m)9(m%0@r*24g^j*2nrekogoe0!8!$rkty0a0l9&(-%2shw0
DJANGO_SETTINGS_MODULE=it_task_manager.settings
