{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Tasks
    <a style="float: right" href="{% url 'tasker:task-create' %}" class="btn btn-primary link-to-page">
      Add
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍" >
  </form>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Deadline</th>
        <th>Workers</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Status</th>
        <th>Toggle status</th>
      </tr>

      {% for task in task_list %}
        <tr>
          <td>
            {{ task.name }}
          </td>
          <td>
            {{ task.deadline }}
          </td>
          <td>
            {% for worker in task.workers.all %}
              {{ worker.username }} /
            {% endfor %}
          </td>
          <td>
            <a class="btn btn-secondary"
              href="{% url 'tasker:task-update' pk=task.id %}">
              Update
            </a>
          </td>
          <td>
            <a class="btn btn-secondary"
              href="{% url 'tasker:task-delete' pk=task.id %}">
              Delete
            </a>
          </td>
          <td>
		          {% if task.is_completed %}
                <label style="color:Green;"><strong>Completed</strong></label>
		          {% else %}
                <label style="color:Red;"><strong>Not completed</strong></label>
		          {% endif %}
          </td>
          <td>
            <form method="post" action="{% url 'tasker:task-toggle-done' task.id %}">
		          {% csrf_token %}
		          {% if task.is_completed %}
		            <button type="submit" class="btn btn-secondary btn-sm">Uncomplete</button>
		          {% else %}
		            <button type="submit" class="btn btn-success btn-sm">Complete</button>
		          {% endif %}
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tasks yet</p>
  {% endif %}
{% endblock %}
