{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Tasks
    <a style="float: right" href="{% url 'tasker:task-create' %}" class="btn btn-primary link-to-page">
      Add
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍" >
  </form>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Deadline</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Status</th>
      </tr>

      {% for task in task_list %}
        <tr>
          <td>
            {{ task.name }}
          </td>
          <td>
            {{ task.deadline }}
          </td>
          <td>
            <a class="btn btn-secondary"
              href="{% url 'tasker:task-update' pk=task.id %}">
              Update
            </a>
          </td>
          <td>
            <a class="btn btn-secondary"
              href="{% url 'tasker:task-delete' pk=task.id %}">
              Delete
            </a>
          </td>
          <td>
            {% if task.is_completed %}
              <label style="color:Green;"><strong>Completed</strong></label>
              <a style="float: right" href="{% url 'tasker:task-toggle-done' pk=task.id %}" class="btn btn-secondary link-to-page">
                Make uncompleted again
              </a>
            {% else %}
              <label style="color:Red;"><strong>Not completed</strong></label>
              <a style="float: right" href="{% url 'tasker:task-toggle-done' pk=task.id %}" class="btn btn-success link-to-page">
                Complete
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tasks yet</p>
  {% endif %}
{% endblock %}
